*{padding: 0;margin: 0;box-sizing: border-box;}
ol,ul{list-style: none;margin: 0;}
a {display: inline-block;text-decoration: none;
    &:hover{text-decoration: none;}
}
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
.pad_last{padding: 0 !important;}
img{max-width:100%; height:auto;display:inline-block;border:0 none;}
address,caption,cite,code,dfn,th,var{font-style:normal; font-weight:normal; }
header,nav,section,article,aside,footer,hgroup,figure,main {display: block;}
figure{line-height: 0;display: block;margin:0;padding:0;}
.clear{clear:both;display:block;}
body{font-family:Arial;font-size: 16px;line-height: 1.1;font-weight: normal;color: #000;}
h1,h2,h3,h4,h5,h6{padding: 0;margin: 0 !important;text-shadow: none !important;}
h1{
	font-size: 3.3125em;line-height: 55px;font-weight: bold;font-family: 'Exo', sans-serif;color: #fff;
	@media(max-width:$tab_xs){
		font-size: 35px;
		line-height: 40px;
	}
	@media(max-width:$mob_land){
		font-size: 30px;
		line-height: 35px;
	}

}
h2{
	font-size: 2.5625em;line-height: 44px;color: #fff;font-family: 'Exo', sans-serif;font-weight: 400;
     @media(max-width:$tab_xs){
		font-size: 30px;
		line-height: 35px;
	}
	@media(max-width:$mob_land){
		font-size: 25px;
		line-height: 30px;
	}



}
h3{font-size: 1.875em;line-height: 33px;color: #cc3c1a;font-weight: bold;font-family: 'Exo', sans-serif;}

h4{}
h5{}
h6{}
p{color: #646161;font-size: 1.125em;line-height: 29px;font-family: 'Poppins', sans-serif;font-weight: 300;margin: 0;}
.d-flex{flex-wrap: wrap;display:-webkit-flex;-webkit-flex-wrap:wrap;}
.wrapper{
    max-width: 100%;
    min-height: 100%;
margin-bottom: -340px; }
body{height: 100%;}
html{height: 100%;}
.container{
	max-width: 1160px;margin: 0 auto;
	@media(max-width:$desk_md){
		max-width: 100%;
	}
}
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/Gotham-Bold/Gotham-Bold.woff') format('woff'),
	   url('../fonts/Gotham-Bold/Gotham-Bold.ttf')  format('truetype'), 
	   url('../fonts/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DIN-Medium';
  src: url('../fonts/DIN-Medium/DIN-Medium.eot?#iefix') format('embedded-opentype'),  
	  url('../fonts/DIN-Medium/DIN-Medium.woff') format('woff'),
	  url('../fonts/DIN-Medium/DIN-Medium.ttf')  format('truetype'),
	  url('../fonts/DIN-Medium/DIN-Medium.svg#DIN-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'DIN-RegularAlternate';
  src: url('../fonts/DIN-RegularAlternate/DIN-RegularAlternate.eot?#iefix') format('embedded-opentype'), 
	  url('../fonts/DIN-RegularAlternate/DIN-RegularAlternate.woff') format('woff'), 
	  url('../fonts/DIN-RegularAlternate/DIN-RegularAlternate.ttf')  format('truetype'),
	  url('../fonts/DIN-RegularAlternate/DIN-RegularAlternate.svg#DIN-RegularAlternate') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book/Gotham-Book.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/Gotham-Book/Gotham-Book.woff') format('woff'),
	   url('../fonts/Gotham-Book/Gotham-Book.ttf')  format('truetype'), 
	   url('../fonts/Gotham-Book/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

