// custom responsive break points
$desk:1800px;
$desk_big:1520px;
$desk_big2:1400px;
$desk_lg:1244px;
$desk_md:1199px;
$tab_sm:991px;
$tab_xs:767px;
$mob_land:599px;
$mob_pot:479px;


// fonts
$font_family_1 :'Poppins', sans-serif;
$font_family_2 :'Exo', sans-serif;
$font_family_3 :'Gotham-Bold';
$font_family_4 :'DIN-RegularAlternate';
$font_family_5 :'DIN-Medium';
$font_family_6 :'Gotham-Book';



$color1:#ffffff;
$color2:#000000;
$color3:#cc3c1a;
$color4:#7777a1;
$color5:#222160;
$color6:#737373;
$color7:#1b1b51;
$color8:#cfcfd0;
$color9:#d3d2d2;
$color10:#c7caec;
$color11:#343a45;
$color12:#fefeff;
$color13:#121212;
$color14:#89898a;
$color15:#a8a7a7;
$color16:#5d5d5d;
$color17:#8c8c8d;
$color18:#1b1a50;
$color19:#8e8e8f;
$color20:#696969;
$color21:#bababa;
$color22:#e8e8ed;
$color23:#878788;
$color24:#606061;
$color25:#b2b1ce;
$color26:#cd3b1a;
$color27:#6d6d6e;
$color28:#ebebeb;
$color29:#969696;
$color30:#858383;
$color31:#1691f2;
$color32:#d9d9db;
$color33:#e7e6e6;
$color34:#6c6c72;
$color35:#a4a4a4;
$color36:#e5e5e5;
$color37:#bfbfc1;
$color38:#c73e1d;
$color39:#181654;
$color40:#585b6e;
$color41:#dd4b39;
$color42:#3c558a;
$color43:#0077b5;
$color44:#616161;
$color45:#afa8a8;
$color46:#0eadff;










$grade_bg1:rgba(27,26,104,0.34);
$grade_bg2:rgba(0, 0, 0, 0.2);
$grade_bg3:rgba(0,0,0,0.15);
$grade_bg4:rgba(0, 0, 0, 0.35);
$grade_bg5:rgba(128, 142, 191, 0.17);










$bg_color1:#f2f3ff;
$bg_color2:#f8f7f7;
$bg_color3:#ffffff;
$bg_color4:#cc3c1a;
$bg_color5:#1b1b51;
$bg_color6:#f1f1f2;
$bg_color7:#2d2d37;
$bg_color8:#343a45;
$bg_color9:#1b1a50;
$bg_color10:#ffa716;
$bg_color11:#1875f0;
$bg_color12:#fbc2b5;
$bg_color13:#cd3b1a;
$bg_color14:#1b1a50;
$bg_color15:#e7e7e7;
$bg_color16:#f44032;
$bg_color17:#c73e1d;
$bg_color18:#f3f4f9;
$bg_color19:#3c558a;
$bg_color20:#4e679c;
$bg_color21:#0077b5;
$bg_color22:#0883c3;
$bg_color23:#dd4b39;;
$bg_color24:#e65947;
$bg_color25:#d84846;
$bg_color26:#cdcfd0;
































