{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="keyword1, keyword2">
    <meta name="description" content=" ">
    <title>SupDem</title>
    <!-- SET: Favicon -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css"%}" >

    <link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/Beautiful-Multifunctional-Calendar-Plugin-For-jQuery-PIGNOSE-Calender/src/css/pignose.calender.css">
    <link rel="stylesheet" type="text/css" href="https://www.jqueryscript.net/demo/Beautiful-Multifunctional-Calendar-Plugin-For-jQuery-PIGNOSE-Calender/demo/css/calender-style.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap4hack.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css"  %}">
  </head>
  <body class="admin">
    <!-- wrapper starts -->
    <div class="wrapper">
      <!--header start-->
      <header>
        <nav class="navbar navbar-expand-lg nav-main navbar-dark">
          <div class="logo h-card">
              <a href="#" class="tab-dis u-url"><img src="{% static 'images/logo.png'%}" width="218" height="51" alt="logo"></a>
          </div>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

          </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
               <div class="navbar-nav  ml-auto">
				   <div class="side_nav side-desk">
            <ul>
              <li class="active icon">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="icon1">
                <a href="javascript:void(0)">About</a>
              </li>
              <li class="icon2 active">
                <a href="javascript:void(0)">Dashboard</a>
              </li>
              <li class="icon3">
                <a href="javascript:void(0)">How to</a>
              </li>
              <li class="icon4">
                <a href="javascript:void(0)">Location</a>
              </li>
              <li class="icon5">
                <a href="javascript:void(0)">Settings</a>
              </li>
              <li class="icon6">
                <a href="javascript:void(0)">Help</a>
              </li>
            </ul>
          </div>
            <div class="admin-rt d-flex flex-wrap">
              <div class="nav-btn">
                <ul>
                  <li itemprop="name"><a href="#" class="search u-url"><input type="text" placeholder="Search"></a></li>
                </ul>
              </div>
              <div class="john">
                <ul>
                  <li itemprop="name"><a href="#" class="u-url"><i class="fa fa-bell-o" aria-hidden="true"></i><span>2</span></a></li>
                  <li itemprop="name"><a href="#" class="u-url"><i class="fa fa-envelope-o" aria-hidden="true"></i><span>3</span></a></li>
                  <li class="dropdown" itemprop="name"><a href="#" class="dropdown-toggle url" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "images/john_img.png" %}" alt="img" width="37" height="37">John Doe <i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<ul>
                      <li itemprop="name"><a class="dropdown-item u-url" href="#">John Doe</a></li>
                      <li itemprop="name" class="dropdown"><a class="dropdown-item u-url" href="#">John Doe</a>


						</li>
                      <li itemprop="name"><a class="dropdown-item u-url" href="#">John Doe</a></li>

                    </ul>
					  </div>

					</li>
                    <li itemprop="name"><a href="#" class="u-url"><img src="{% static 'images/img1.png' %}" width="26" height="18" alt="img"></a></li>
                </ul>
              </div>
            </div>

          </div>
			</div>
        </nav>
      </header>
      <!--header end-->
		 <div class="main">
        <div class="main_cont">
          <div class="number-in d-flex flex-wrap" itemscope itemtype="https://schema.org/docs/datamodel.html">
            <div class="number-lt">
              <div class="number-lt-in">
                  <figure><img src= "{% static "images/graph1.png" %}" width="494" height="223" alt="img"></figure>
                <div class="login-in">
                  <div class="login-lt">
                    <h5>Number of Active Logins</h5>
                    <ul>
                      <li><a href="#">Supplier</a></li>
                      <li ><a href="#" class="blue">Demanders</a></li>
                    </ul>
                  </div>
                  <div class="login-rt">
                    <ul>
                      <li><a href="#"><i class="fa fa-repeat" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="number-lt number-rt">
              <div class="number-lt-in ">
                  <figure><img src="{% static "images/graph2.png" %}" width="484" height="221" alt="img"></figure>
                <div class="login-in">
                  <div class="login-lt">
                    <h5>Suppliers VS Demanders Signup</h5>
                    <ul>
                      <li><a href="#" class="yellow">Supplier</a></li>
                      <li ><a href="#" class="blue1">Demanders</a></li>
                    </ul>
                  </div>
                  <div class="login-rt">
                    <ul>
                      <li><a href="#"><i class="fa fa-repeat" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="number-in geograph d-flex flex-wrap" itemscope itemtype="https://schema.org/docs/datamodel.html">
            <div class="number-lt">
              <div class="number-lt-in">
                <div class="login-in">
                  <div class="login-lt">
                    <h5>Geographic Region Pinning ( Dynamic )</h5>
                  </div>
                  <div class="login-rt">
                    <ul>
                      <li><a href="#"><i class="fa fa-repeat" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="total">
                  <span>Total Pinning</span>
                </div>
                <div class="progress-in">
                  <div class="progress-lt">
                    <div class="progress">
                      <div class="progress-bar progress-pink" style="width:60%"></div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-red" style="width:25%"></div>
                    </div>
                    <div class="progress">
                      <div class="progress-bar progress-blue" style="width:15%"></div>
                    </div>
                  </div>
                  <div class="progress-rt">
                    <div class="prog-rt-in">
                      <div class="prog-rt-lt">
                        <span></span>
                      </div>
                      <div class="prog-rt-rt">
                        <span>60%</span>
                        <small>USA</small>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="prog-rt-in">
                      <div class="prog-rt-lt">
                        <span class="bg-red"></span>
                      </div>
                      <div class="prog-rt-rt">
                        <span>25%</span>
                        <small>Asia</small>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="prog-rt-in">
                      <div class="prog-rt-lt">
                        <span class="bg-blue"></span>
                      </div>
                      <div class="prog-rt-rt">
                        <span>15%</span>
                        <small>Europe</small>
                      </div>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
            </div>
            <div class="number-lt number-rt">
              <div class="number-lt-in ">
                <div class="calender">
                  <div class="calender-in ">
                    <div class="calender-lt">
                      <div class="calender-img">
                        <div class="calender-img-lt">
                            <a href="#"><img src="{% static "images/calender.png" %}" width="45" height="45" alt="img"></a>
                        </div>
                        <div class="calender-img-rt">
                          <h6>Calender</h6>
                          <a href="#">March 26, 2018</a>
                        </div>
                        <div class="clear"></div>
                      </div>
                    </div>
                    <div class="calender-rt">
                      <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                    </div>
                    <div class="clear"></div>
                  </div>
                  <div class="calender_demo"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-cont" itemscope itemtype="https://schema.org/Table">
			  <div class="tab-links">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link" href="#profile" role="tab" data-toggle="tab">
                    <img src="{% static "images/a1.png" %}" class="show-img" alt="img" width="35" height="26">
                    <img src="{% static "images/a1-hover.png" %}" class="hide-img" alt="img" width="34" height="26">
					Restaurants</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active show"  href="#buzz" role="tab" data-toggle="tab">
                    <img src="{% static "images/a2.png" %}" alt="img" width="28" height="26">

					Clothing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#references" role="tab" data-toggle="tab">
                    <img src="{% static "images/a3.png" %}"  class="show-img" alt="img" width="26" height="23">
                    <img src="{% static "images/a3-hover.png" %}" class="hide-img" alt="img" width="26" height="23">
					Market</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#menu" role="tab" data-toggle="tab">
                    <img src="{% static "images/a4.png" %}" class="show-img" alt="img" width="27" height="24">
                    <img src="{% static "images/a4-hover.png" %}" class="hide-img" alt="img" width="27" height="24">
					Menu Item 4</a>
              </li>
            </ul>
			  <a  class="search tab-right"><input type="text" placeholder="Search"></a>
			  <div class="clearfix"></div>
			  </div>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active show" id="profile">
                <div class="panel-content tabbable" >
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#sub11" >
                    <img src="{% static "images/a5.png" %}"  alt="img" width="24" height="24">

						Supplier View</a></li>
                    <li><a href="#sub12">
                        <img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
                        <img src="{% static "images/a5.png" %}"  class="hide-img"  alt="img" width="24" height="24">
						Demander View </a></li>
                    <li><a href="#sub13">
                            <img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
                            <img src="{% static "images/a5.png" %}"   class="hide-img" alt="img" width="24" height="24">
						Universal View</a></li>
                  </ul>
					<div id="myTabContent" class="tab-content" >
                    <div class="tab-pane fade active in" id="sub11" >
                        <div class="panel-map">
                            <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
                    <div class="tab-pane fade" id="sub12">
                           <div class="panel-map">
                               <figure><img src="{% static "images/map1.png" %}"  width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
						 <div class="tab-pane fade" id="sub13">
                           <div class="panel-map">
                               <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
                </div>
                </div>

              </div>

              <div role="tabpanel" class="tab-pane fade in" id="buzz">
                 <div class="panel-content tabbable" >
                  <ul class="nav nav-tabs">
                      <li ><a href="#sub21" class="active"><img src="{% static "images/a5.png" %}" alt="img" width="24" height="24">Supplier View</a></li>
                    <li><a href="#sub22">
            <img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
						<img src="{% static "images/a5.png" %}"  class="hide-img"  alt="img" width="24" height="24">
						Demander View </a></li>
                    <li><a href="#sub23">
            <img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
						<img src="{% static "images/a5.png" %}" class="hide-img"  alt="img" width="24" height="24">
						Universal View</a></li>
                  </ul>
					<div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="sub21">
                          <div class="panel-map">
                          <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
                    <div class="tab-pane fade" id="sub22">
                          <div class="panel-map">
                          <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
						 <div class="tab-pane fade" id="sub23">
                      <div class="panel-map">
                      <figure><img src="{% static "images/map1.png" %}"  width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
                </div>

                </div>

              </div>
              <div role="tabpanel" class="tab-pane fade in" id="references">
                <div class="panel-content tabbable" >
                  <ul class="nav nav-tabs">
                    <li ><a href="#sub31"  class="active"><img src="{% static "images/a5.png" %}" alt="img" width="24" height="24">Supplier View</a></li>
                    <li><a href="#sub32">
                        <img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
						<img src="{% static "images/a5.png" %}"  class="hide-img"  alt="img" width="24" height="24">
						Demander View </a></li>
                    <li><a href="#sub33">
					<img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
                    <img src="{% static "images/a5.png" %}"  class="hide-img"  alt="img" width="24" height="24">
						Universal View</a></li>
                  </ul>
					<div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="sub31">
                         <div class="panel-map">
                             <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
                    <div class="tab-pane fade" id="sub32">
                          <div class="panel-map">
                              <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
						 <div class="tab-pane fade" id="sub33">
                          <div class="panel-map">
                              <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
                </div>

                </div>

              </div>
              <div role="tabpanel" class="tab-pane fade in" id="menu">
                <div class="panel-content tabbable" >
                  <ul class="nav nav-tabs">
                      <li ><a href="#sub41"  class="active"><img src="{% static "images/a5.png" %}" alt="img" width="24" height="24">Supplier View</a></li>
                    <li><a href="#sub42">
						<img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
						<img src="{% static "images/a5.png" %}" class="hide-img"  alt="img" width="24" height="24">
						Demander View </a></li>
                    <li><a href="#sub43">
						<img src="{% static "images/a6.png" %}" class="show-img" alt="img" width="24" height="24">
						<img src="{% static "images/a5.png" %}" class="hide-img"  alt="img" width="24" height="24">
						Universal View</a></li>
                  </ul>
					<div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="sub41">
                         <div class="panel-map">
                    <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  <!-- </div>////'///'''//.////' -->
                    </div>
                    <div class="tab-pane fade" id="sub42">
                         <div class="panel-map">
                    <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
						 <div class="tab-pane fade" id="sub43">
                         <div class="panel-map">
                    <figure><img src="{% static "images/map1.png" %}" width="1046" height="558" alt="img"></figure>
                  </div>
                    </div>
                </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="side_menu" itemscope itemtype="https://schema.org/MenuItem">
        <div class="side_cont">
			<div class="side_nav1">
          <a href="#"><img src="{% static "images/ft_logo.png" %}" width="218" height="51" alt="logo"></a>
          <div class="side_nav">
            <ul>
              <li class=" icon">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="icon1">
                <a href="javascript:void(0)">About</a>
              </li>
              <li class="icon2 active">
                <a href="javascript:void(0)">Dashboard</a>
              </li>
              <li class="icon3">
                <a href="javascript:void(0)">How to</a>
              </li>
              <li class="icon4">
                <a href="javascript:void(0)">Location</a>
              </li>
              <li class="icon5">
                <a href="javascript:void(0)">Settings</a>
              </li>
              <li class="icon6">
                <a href="javascript:void(0)">Help</a>
              </li>
            </ul>
          </div>
				</div>
			<div class="side-footer">
			  <ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">How to use this site</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact us</a></li>
				   </ul>
				  <p>© 2018 copyright <a href="#">SupDem.com</a>
All Right Reserved</p>

			</div>
        </div>
        <div class="clear"></div>
      </div>
      <!--footer start-->
      <!--footer end-->
    </div>
    <!-- wrapper ends -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!--    <script src="js/clndr.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script type="text/javascript" src="https://www.jqueryscript.net/demo/Beautiful-Multifunctional-Calendar-Plugin-For-jQuery-PIGNOSE-Calender/src/js/pignose.calender.js"></script>
	   <script src="js/retina.js"></script>
	  <script>
	  $(document).ready(function(e){
		  $("ul.nav-tabs a").click(function (e) {
		  e.preventDefault();
		  $(this).tab('show');
		  });

	  });

	  </script>
    <script>
      $(document).ready(function(e) {
      //$('.event-item').wrapAll('<div class="wrap-events"></div>')

      $(function() {
      $('.calender_demo').pignoseCalender({
      select: function(date, obj) {
      obj.calender.parent().next().show().text('You selected ' +
      (date[0] === null? 'null':date[0].format('YYYY-MM-DD')) +
      '.');
      }
      });
      });

      });

    </script>
  </body>
</html>
