{% load static %}
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="keyword1, keyword2">
    <meta name="description" content=" ">
    <title>SupDem</title>
    <!-- SET: Favicon -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap4hack.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44352603-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-44352603-1');
</script>

  </head>
  <body>
    <!-- wrapper starts -->
    <div class="wrapper">
      <!--header start-->
      <header>
        <nav class="navbar navbar-expand-lg nav-main navbar-dark">
          <div class="logo h-card">
            <a href="index.html" class="u-url"><img src="{% static "images/logo.png" %}" width="218" height="51" alt="logo"></a>
          </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
               <ul class="navbar-nav  ml-auto" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
              <li class="nav-item" itemprop="name">
                <a class="nav-link u-url" href=" # " >Home</a>
              </li>
              <li class="nav-item" itemprop="name">
                <a class="nav-link u-url" href="#"> About </a>
              </li>
              <li class="nav-item" itemprop="name">
                <a class="nav-link u-url" href="#">How to Use</a>
              </li>
            </ul>
            <div class="nav-btn">
              <ul>
                <li ><a href="#" class="search u-url"><input type="text" placeholder="Search"></a></li>
                <li ><a href="/signup/" class="account u-url">My Account</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!--header end-->
      <!--banner start-->
      <div class="banner" itemscope itemtype="https://schema.org/Image">
        <div class="overlay"></div>
        <figure>
          <img src="{% static "images/banner.jpg" %}" width="1560" height="596" alt="img">
        </figure>
        <div class="container">
          <div class="banner-in">
            <h1>Welcome to the<br>
              Home of <span>Supply</span> & <span>Demand</span>
            </h1>
            <h2>Please Choose your Path</h2>
          </div>
          <div class="arrow">
            <ul>
              <li><a href="#top"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
              <li><a href="#bottom" class="blue"><i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--banner end-->
      <!--main-content start-->
      <div class="main-content">
        <div class="container">
          <!--suppliers start-->
          <div class="suppliers" itemscope  itemtype="https://schema.org/manufacturer">
			  <div id="top"></div>
            <div class="suppliers-in d-flex flex-wrap">
              <div class="suppliers-lt col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="suppliers-lt-in">
                  <div class="suppliers-img">
                    <figure><img src="{% static "images/small_img1.png" %}" alt="img" width="224" height="139"></figure>
                  </div>
                  <h3>sUPPLIERS</h3>
                  <ul>
                    <li>
                      <p>Looking for the optimal region to establish your business?</p>
                    </li>
                    <li>
                      <p>Want to reach out to your demanding prospects?</p>
                    </li>
                    <li>
                      <p>Have products/services to sell?</p>
                    </li>
                    <li>
                      <p>Interested in relevant analytical data form many souces ?</p>
                    </li>
                  </ul>
                  <a href="/suppliers/" class="supply btn">sUPPLIERS route</a>
                </div>
              </div>
              <div class="suppliers-lt suppliers-rt col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="suppliers-lt-in">
                  <div class="suppliers-img">
                    <figure><img src="{% static "images/small_img2.png" %}" alt="img" width="234" height="133"></figure>
                  </div>
                  <h3>dEMANDERS</h3>
                  <ul>
                    <li>
                      <p>See an oprtunity area for a business to establish and flourish?</p>
                    </li>
                    <li>
                      <p>Want to reach out to suppliers relevant to your interests?</p>
                    </li>
                    <li>
                      <p>Centralize your search for purchasing
                        goods/ services?
                      </p>
                    </li>
                    <li>
                      <p>Connect with like-minded demanders in
                        your area?
                      </p>
                    </li>
                  </ul>
                  <a href="/demanders/" class="supply btn">dEMANDERS route</a>
                </div>
              </div>
            </div>
            <div class="ads ads1">
              <div class="ads-in">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- MainRight -->
<ins class="adsbygoogle"
     style="display:inline-block;width:120px;height:600px"
     data-ad-client="ca-pub-2352162154032010"
     data-ad-slot="4343358591"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

            <!--    <h4>your ad here</h4>
                <span>160 x 600</span>44 -->
              </div>
            </div>
          </div>
          <!--suppliers end-->
          <!--ads start-->
          <div class="ads">
            <div class="ads-in">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- MainCenter -->
<ins class="adsbygoogle"
     style="display:inline-block;width:970px;height:90px"
     data-ad-client="ca-pub-2352162154032010"
     data-ad-slot="7742837116"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
              <!-- <h4>your ad here</h4>
              <span>970 x 90</span> -->
            </div>
          </div>
          <!--ads end-->
          <!--location start-->
			<div id="bottom"></div>
          <div class="loaction" itemscope itemtype="https://schema.org/location">
            <figure><img src="{% static "images/video_img.png" %}" width="999" height="438" alt="img"></figure>
            <span><a href="#"><img src="{% static "images/play-icon.png" %}" width="73" height="73" alt="img"></a></span>
          </div>
          <!--location end-->
        </div>
      </div>
      <!--main-content end-->
      <div class="push"></div>
    </div>
	  <!--footer start-->
      <footer itemscope itemtype="http://schema.org/WPFooter">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="footer-in">
              <ul class="d-flex flex-wrap">
                <li class="ft-block1">
                  <div class="footer-bk">
                    <a href="#"  itemprop="url"><img src="{% static "images/ft_logo.png" %}" alt="img"></a>
                    <p class="hide">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                    <a href="#" class="text hide"  itemprop="url">© 2018 SupDem.Privacy Policy</a>
                  </div>
                </li>
                <li class="ft-block2">
                  <div class="ft-links">
                    <h5>Navigation</h5>
                    <ul>
                      <li><a href="#"  itemprop="url">Home</a></li>
                      <li><a href="#"  itemprop="url">About</a></li>
                      <li><a href="#"  itemprop="url">How to Use</a></li>
                      <li><a href="#"  itemprop="url">Contact</a></li>
                    </ul>
                  </div>
                </li>
                <li class="ft-block3">
                  <div class="ft-links">
                    <h5>Folow us</h5>
                    <ul>
                      <li><a href="#"  itemprop="url"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a></li>
                      <li><a href="https://twitter.com/SupDem1" target="_blank" itemprop="url"><i class="fa fa-twitter" aria-hidden="true"></i> twitter</a></li>
                      <li><a href="https://www.linkedin.com/company/supdem/" target="_blank" itemprop="url"><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a></li>
                      <li><a href="https://www.gofundme.com/help-connect-demand-with-suppliers"  itemprop="url"><i class="fa fa-google-plus" aria-hidden="true"></i> GoFundMe (Help Support developing this site! )</a></li>
                    </ul>
                  </div>
                </li>
                <li class="ft-block4">
                  <div class="ft-links">
                    <h5>Newsletter</h5>
                    <p>Nam nec tellus a odio tincidu
                      nt auctor a ornare odio.
                    </p>
                    <form>
                      <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control">
                        <button type="button"><img src="{% static "images/arrow-wt.png" %}" width="18" height="13" alt="img"></button>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
			   <div class="footer-bk footer-mb">
                    <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                    <a href="#" class="text"  itemprop="url">© 2018 SupDem.Privacy Policy</a>
                  </div>
          </div>
        </div>
      </footer>
      <!--footer end-->
    <!-- wrapper ends -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	 <script src="js/custom_scripts.js"></script>
	 <script src="js/retina.js"></script>
	  <script src="js/jquery.easing.1.3.js"></script>

  </body>
</html>
